/**
colores:
body text color: #949AA6
#626773
navbar text and icon color: #A6818F
navbar y footer bg: #46354E
#261E24
background: #0D0A0C


font-family: 'Major Mono Display', monospace;
font-family: 'Thasadith', sans-serif; (regular 400 and bold 700)
**/
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Thasadith:wght@400;700&display=swap");
* {
  margin: 0.125rem;
  padding: 0.125rem;
  box-sizing: border-box;
  font-family: "Thasadith", sans-serif;
  color: #949AA6;
}

body {
  background-color: #0D0A0C;
  background-image: url(../assets/waves.jpg);
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*colores*/
/*radius*/
/*sizes*/
/*mixin size*/
/*bootstrap*/
/*text bg*/
/*FLEX*/
/*GRIDS*/
/*IMG CARDS*/
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
header {
  background-color: #46354E;
  margin: 0.3125rem;
  height: auto;
  width: auto;
  position: sticky;
  border-radius: 1.25rem;
  top: 0.5rem;
  z-index: 100;
}
header .navbar {
  width: auto;
  text-decoration: none;
  font-family: "Major Mono Display", monospace;
  font-size: 1.25rem;
  font-weight: 600;
}
header .navbar a {
  font-family: "Major Mono Display", monospace;
  color: #A6818F;
}

.sectionPrincipal {
  margin: 0 80px 200px 80px;
}
.sectionPrincipal .scale-in-center {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.sectionPrincipal h1 {
  margin: 0.9375rem;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-weight: 37.5rem;
  font-size: 10rem;
  color: #A6818F;
}
.sectionPrincipal h2 {
  margin: 15px 50px;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-weight: 25rem;
  font-size: 3.125rem;
  color: #0D0A0C;
}

.sectionMision {
  height: 100%;
  margin-bottom: 3.125rem;
}
.sectionMision article h3 {
  text-align: start;
}
.sectionMision article h3 strong {
  margin: 1.5625rem;
  padding: 1.25rem;
  font-family: "Major Mono Display", monospace;
  font-size: 4.375rem;
  color: #A6818F;
}
.sectionMision article p {
  background-color: rgba(234, 234, 234, 0.2392156863);
  border-radius: 0.9375rem;
  margin: 0 1.5625rem;
  padding: 0 1.25rem;
  text-align: start;
  font-size: 1.75rem;
  font-weight: 600;
  color: #0D0A0C;
}

.sectionTerapias {
  margin-bottom: 3.125rem;
}
.sectionTerapias h3 {
  text-align: end;
}
.sectionTerapias h3 strong {
  margin: 1.5625rem;
  padding: 1.25rem;
  font-family: "Major Mono Display", monospace;
  font-size: 4.375rem;
  color: #A6818F;
}
.sectionTerapias p {
  background-color: rgba(234, 234, 234, 0.2392156863);
  border-radius: 0.9375rem;
  margin: 0 1.5625rem;
  padding: 0 1.25rem;
  text-align: end;
  font-size: 1.75rem;
  font-weight: 600;
  color: #0D0A0C;
}
.sectionTerapias p em {
  color: #0D0A0C;
}

.cardsIndex {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: none;
}

.img1 {
  background-image: url(../assets/icons/reiki.png);
}

.img2 {
  background-image: url(../assets/numerologia.jpg);
  background-repeat: no-repeat;
  width: 7.0625rem;
  height: 7.0625rem;
  border-radius: 1.5625rem;
  align-self: center;
  box-shadow: 0.125rem 0.125rem 0.125rem #261E24;
}

.img3 {
  background-image: url(../assets/radiestesia.jpg);
  background-repeat: no-repeat;
  width: 7.0625rem;
  height: 7.0625rem;
  border-radius: 1.5625rem;
  align-self: center;
  box-shadow: 0.125rem 0.125rem 0.125rem #261E24;
}

.img4 {
  background-image: url(../assets/reiki.jpg);
  background-repeat: no-repeat;
  width: 7.0625rem;
  height: 7.0625rem;
  border-radius: 1.5625rem;
  align-self: center;
  box-shadow: 0.125rem 0.125rem 0.125rem #261E24;
}

.img5 {
  background-image: url(../assets/astrologia2.jpg);
  background-repeat: no-repeat;
  width: 7.0625rem;
  height: 7.0625rem;
  border-radius: 1.5625rem;
  align-self: center;
  box-shadow: 0.125rem 0.125rem 0.125rem #261E24;
}

.terapias {
  margin: 1.875rem;
  text-align: center;
  font-size: 1.875rem;
  color: #0D0A0C;
}
.terapias h1 strong {
  font-family: "Major Mono Display", monospace;
  text-align: center;
  font-size: 9.375rem;
  color: #A6818F;
}
.terapias p {
  text-align: center;
  color: #0D0A0C;
}
.terapias p em {
  color: #0D0A0C;
}

.card {
  background-color: #A6818F;
}

.card-text {
  color: #0D0A0C;
}

.card-title {
  font-family: "Thasadith", sans-serif;
  font-size: 1.25rem;
  color: #0D0A0C;
}

.text-decoration-none {
  color: #0D0A0C;
}

.cards-terapia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nuestraMision section {
  height: 100%;
  text-align: center;
}
.nuestraMision section h1 strong {
  font-family: "Major Mono Display", monospace;
  font-size: 9.375rem;
  color: #A6818F;
}
.nuestraMision section article {
  background-color: rgba(234, 234, 234, 0.2392156863);
  border-radius: 0.9375rem;
  margin: 30px;
  font-size: 1.875rem;
  font-weight: 600;
  color: #0D0A0C;
}

.contacto {
  height: 100%;
  text-align: center;
}
.contacto h1 strong {
  font-size: 9.375rem;
  font-family: "Major Mono Display", monospace;
  color: #A6818F;
}
.contacto article p {
  margin: 30px;
  font-size: 1.875rem;
}

.unete {
  height: 100%;
  text-align: center;
}
.unete h1 {
  font-family: "Major Mono Display", monospace;
  color: #A6818F;
  font-size: 9.375rem;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: none;
  margin: 0.3125rem;
  height: 3.75rem;
  width: auto;
  position: end;
  background-color: #46354E;
  border-radius: 0.9375rem;
  font-size: 0.75rem;
}

/*mediaqueries*/
@media (max-width: 1024px) {
  .nuestraMision section h1 strong {
    font-size: 100px;
  }
}
@media (max-width: 768px) {
  .sectionPrincipal {
    margin: auto;
  }
  .sectionPrincipal h1 {
    font-size: 10rem;
    text-align: center;
    /*margin-bottom: 3.125rem;*/
    margin-top: 3.125rem;
  }
  .sectionPrincipal h2 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }
  .sectionMision {
    margin-top: 3.125rem;
  }
  .sectionMision article h3 strong {
    margin: auto;
    font-size: 3rem;
  }
  .sectionMision article p {
    font-size: 1.75rem;
    margin: auto;
  }
  .sectionTerapias h3 {
    margin: auto;
  }
  .sectionTerapias h3 strong {
    font-size: 3rem;
  }
  .sectionTerapias p {
    font-size: 1.75rem;
    margin: auto;
  }
  .nuestraMision section h1 strong {
    font-size: 3.75rem;
  }
  .nuestraMision section article {
    font-size: 1.5rem;
  }
  .terapias h1 strong {
    font-size: 4rem;
    color: #A6818F;
  }
  .terapias p {
    font-size: 2rem;
    color: #A6818F;
  }
  .terapias p em {
    color: #A6818F;
  }
  .cardsTerapias {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: none;
    gap: none;
  }
}
@media (max-width: 512px) {
  .sectionPrincipal {
    margin: auto;
    margin-bottom: 2.5rem;
  }
  .sectionPrincipal h1 {
    font-size: 6.25rem;
  }
  .sectionPrincipal h2 {
    font-size: 1.3rem;
    margin: auto;
  }
  .sectionMision {
    margin-bottom: 50px;
  }
  .sectionMision article h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .sectionMision article h3 strong {
    font-size: 2.5rem;
    color: #0D0A0C;
  }
  .sectionMision article p {
    text-align: center;
    font-size: 1.5rem;
  }
  .sectionTerapias h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .sectionTerapias h3 strong {
    color: #0D0A0C;
    font-size: 2.5rem;
  }
  .sectionTerapias p {
    text-align: center;
    font-size: 1.5rem;
  }
  .nuestraMision section h1 strong {
    font-size: 4.8rem;
  }
  .terapias h1 strong {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  .sectionPrincipal {
    margin: 0;
  }
  .sectionPrincipal h1 {
    font-size: 5rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }
  .sectionPrincipal h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
  .sectionMision article h3 strong {
    font-size: 2rem;
  }
  .sectionMision article p {
    font-size: 1.5rem;
  }
  .sectionTerapias h3 strong {
    font-size: 2.2rem;
  }
  .sectionTerapias p {
    font-size: 1.5rem;
  }
  .nuestraMision section h1 strong {
    font-size: 3.75rem;
  }
  .nuestraMision section article {
    font-size: 1.5rem;
  }
  .terapias {
    margin: auto;
  }
  .terapias h1 strong {
    font-size: 3rem;
  }
  .terapias p {
    font-size: 1.5rem;
  }
  .pCard {
    display: none;
  }
  .unete h1 {
    font-size: 3.25rem;
  }
  .contacto h1 {
    font-size: 3.25rem;
  }
  .contacto p {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  .sectionPrincipal h1 {
    font-size: 4.0625rem;
    margin-bottom: 0;
  }
  .sectionPrincipal h2 {
    display: none;
  }
  .sectionMision article h3 strong {
    font-size: 1.5rem;
  }
  .sectionMision article p {
    font-size: 1rem;
  }
  .sectionTerapias h3 strong {
    font-size: 1.5rem;
  }
  .sectionTerapias p {
    font-size: 1rem;
  }
  .nuestraMision section h1 {
    font-size: 3.625rem;
  }
  .nuestraMision section article {
    font-size: 1rem;
  }
  .nuestraMision article {
    font-size: 1rem;
  }
  .pCard {
    display: none;
  }
}
@media (max-width: 320px) {
  .sectionPrincipal h1 {
    font-size: 4.0625rem;
    margin-bottom: 0;
  }
  .sectionPrincipal h2 {
    display: none;
  }
  .sectionMision article h3 strong {
    font-size: 1.3rem;
  }
  .sectionMision article p {
    font-size: 1rem;
  }
  .sectionTerapias h3 strong {
    font-size: 1.3rem;
  }
  .sectionTerapias p {
    font-size: 1rem;
  }
  .nuestraMision section h1 {
    font-size: 3.625rem;
  }
  .nuestraMision section article {
    font-size: 1rem;
  }
  .nuestraMision article {
    font-size: 1rem;
  }
  .terapias h1 strong {
    font-size: 3rem;
  }
  .terapias .pCard {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
