@import "./base/reset";

@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/keyframes";

@import "./layout/header";

@import "./layout/mainindex";

@import "./layout/mainterapias";

@import "./layout/mainmision";

@import "./layout/mainnosotros";

@import "./layout/mainunete";

@import "./layout/footer";

/*components*/
@import "./components/buttons";
@import "./components/cardsindex";
@import "./components/cardsterapias";

/*mediaqueries*/
@import "./layout/media/media1024";
@import "./layout/media/media768";
@import "./layout/media/media512";
@import "./layout/media/media425";
@import "./layout/media/media375";
@import "./layout/media/media320";
