.bodyMision{
    background-color: #0D0A0C;
    background-image: url(../assets/waves.jpg);
    background-position: fill;
    background-repeat: no-repeat;
    background-position: center;
}

.nuestraMision{
    section{
        @include flex(column, nowrap, center, start, none);
        height: 100%;
        text-align: center;
            h1{
                strong{
                    font-family: 'Major Mono Display', monospace;
                    font-size: $titlessize;
                    color: $cr;
                }
            }
        article{
            margin: 30px;
            font-size: 1.875rem;
            font-weight: 25rem;
            color: #0D0A0C;
        }
    }
}
