
.bodyUnete{
    background-color: #0D0A0C;
    background-image: url(../assets/waves.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.unete{
    height: 100%;
    text-align: center;
    h1{
        font-family:'Major Mono Display', monospace;
        color: $cr;
        font-size: 9.375rem;
    }
}