.contacto{
    height: 100%;
    text-align: center;
    h1{
        strong{
        font-size: $titlessize;
        font-family: 'Major Mono Display', monospace;
        color: $cr;
        }
    }
    article{
        p{
            margin: 30px;
            font-size: 1.875rem;
        }
    }
}