.bodyIndex{
    background-color: #0D0A0C;
    background-image: url(../assets/waves.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sectionPrincipal {
    margin: 0 80px 200px 80px;
    h1{
        margin: .9375rem;
        text-align: center;
        font-family: 'Major Mono Display', monospace;
        font-weight: 37.5rem;
        font-size: 10rem;
        color: $cr;
    }
    h2{
        margin: 15px 50px;
        text-align: center;
        font-family: 'Major Mono Display', monospace;
        font-weight: 25rem;
        font-size: 50px;
        color: #0D0A0C;
    }
}


.scale-in-center{
    animation:scale-in-center 1s 
    cubic-bezier(.25,.46,.45,.94) both
}

.sectionMision{
    height: 100%;
    font-family: 'Major Mono Display', monospace;
    article{
        h3{
            text-align: center;
            strong{
                font-size: 4.375rem ;
                font-family: 'Major Mono Display', monospace;
            }
        }
        p{
            margin: 1.5625rem ;
            padding: 1.25rem ;
            text-align: center;
            font-size: 1.75rem;
        }
    }
}
.sectionTerapias{
    h3{
        text-align: center;
        strong{
            font-size: 4.375rem ;
            font-family: 'Major Mono Display', monospace;
        }
    }
        p{
            margin: 1.5625rem ;
            padding: 1.25rem ;
            text-align: center;
            font-size: 1.75rem;
        }
    }


