/*colores*/
$bc:#0D0A0C;
$cr:#A6818F;
$bcv:#46354E;

/*radius*/
$bradius: 1.5625rem;
$bradiusnavfooter: .9375rem;

/*sizes*/
$cardssize: 15.625rem;
$imgcard: 9.375rem;
$titlessize: 9.375rem;

/*mixin size*/
$widthimg: 7.0625rem;
$heightimg: 7.0625rem;