@media (max-width: 375px){
    .sectionPrincipal {
        h1{
            font-size: 4.0625rem;
            margin-bottom: 0;
        }
        h2{
            display: none;
        }
    }
    .sectionMision{
        article{
            h3{
                strong{
                    font-size: 1.5rem;
                }
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .sectionTerapias{
        h3{
            strong{
        font-size: 1.5rem;
        }
    }
        p{
            font-size: 1rem;
        }
    }
    .nuestraMision{
        section{
            h1{
                font-size: 3.625rem;
            }
            article{
                font-size: 1rem;
            }
        }
        article{
            font-size: 1rem;
        }
    }
    .pCard{
        display: none;
    }
    .nosotros{
        h1{
            strong{
                font-size: 3rem;
            }
        }
        article{
            p{
                font-size: 1rem;
            }
        }
        .sobretynat{
            margin: 0;
            p{
                padding: 1px;
                font-size: 1.3rem;
            }
        }
        figcaption{
            font-size: 1.3rem;
        }
    }
    .unete{
        h1{
            font-size: 2.5rem;
        }
        .registrate{
            margin: 10px;
            h2{
                margin-top: 10px;
            }
            .astroregalo{
                margin: 20px;
                h3{
                    font-size: 2rem;
                }
            }
        }
    }
}