@media (max-width: 320px){
    .sectionPrincipal {
        h1{
        font-size: 3.625rem;
        }
        h2{
            display: none;
        }
    }
    .sectionTerapias{
        h3{
        font-size: 2rem;
        }
        p{
        font-size: 1rem;
        }
    }
    .nuestraMision{
        section{
            h1{
                font-size: 3.625rem;
            }
            article{
                font-size: 1rem;
            }
        }
        article{
            font-size: 1rem;
        }
    }
    .terapias{
        h1{
        font-size: 3.625rem;
        }
    }
    .cardsTerapias{
        section{
        margin: auto;
        }
    }
}